<br><br><br><br>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Add Stock</h2>
                    <form action="/add-stock" enctype="multipart/form-data" method="POST">
                        <label for="">Product Name</label>
                        <input type="text" name="Name" class="form-control" required>

                        <label for="">Price</label>
                        <input type="number" name="Price" class="form-control" required>



                        <label for="">Avaliable Quantity</label>
                        <input type="number" name="Quantity" class="form-control" required>



                        {{!-- <label for="">Image</label>
                        <input type="file" name="Image" class="form-control" required> --}}

                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                        <a href="/stock" type="submit" class="btn btn-danger mt-4">Cancel</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>