<div class="container-sm  mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">Manage Stocks</h5>
                    <a href="/stock" class="btn btn-primary w-100">View Stocks</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">Create New Bill</h5>
                    <a href="/bill" class="btn btn-danger w-100">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">Bill Reports</h5>
                    <a href="/orders" class="btn btn-info w-100">View Reports</a>
                </div>
            </div>
        </div>
    </div>
</div>