<div class="page-content-wrapper py-3">
    <div class="container">
        <div class="pb-2">
            <div class="card">
                <div class="card-body p-2">
                    <a href="/cart" class="btn btn-info">Back to home</a>
                </div>
            </div>
        </div>
        <!-- Checkout Wrapper-->
        <div class="checkout-wrapper-area">
            <div class="card">
                <div class="card-body checkout-form">
                    <h6 class="mb-3">Enter your billing details</h6>
                    <form id="checkout-form">
                        <div class="form-group">
                            <input class="form-control mb-3" type="text" name="name" id="name"
                                placeholder="Your full name" required>
                            <input type="text" name="userId" value="{{user._id}}" hidden>
                        </div>
                        <h5 class="mt-4" style="margin-bottom: -35px;">Total amount: Rs. {{total}}</h5>

                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="payment-method" value="COD" checked
                                hidden>
                            <label class="form-check-label" for="darkRadio1" hidden>Delivery</label>
                        </div>
                        <button class="btn btn-danger mt-3 w-100" type="submit">Create Bill</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $("#checkout-form").serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-placed'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_8NokNgt8cA3Hdv", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open()
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-placed'
                } else {
                    alert("Payment failed")
                }
            }
        })
    }
</script>