<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
                {{!-- <div class="text-center px-4"><img class="login-intro-img" src="img/bg-img/36.png" alt=""></div>
                --}}

                <!-- Register Form-->
                <div class="register-form mt-4 px-4">
                    <h6 class="mb-3 text-center">Sign up to continue to Frushop.</h6>
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="Name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="Email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="Password" placeholder="Enter Password">
                        </div>
                        <button class="btn btn-dark w-100" type="submit">Sign In</button>
                    </form>
                </div>
                <!-- Login Meta-->
                <div class="login-meta-data text-center mt-3">
                    <p class="mb-0">Already Have Account ? <a class="stretched-link" href="/signin">Login Now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>